.message {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: left;
  display: flex;
  flex-flow: row nowrap;
}

.message:hover .message_delete-btn {
  opacity: 1;
}

.message__title {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.message__title-highlight {
  color: #00c6ee;
  font-weight: bold;
}

.message__text {
  margin: 0;
}

.message_delete-btn {
  margin-left: auto;
  border: none;
  font-weight: bold;
  color: #fff;
  background-color: #52c8b4;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message__delete-icon {
  width: 25px;
  height: 25px;
}
